html, body {
    width: 100%;
    height: 100%;
}

main {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
    height: 100vw;
    margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 25%;
}

.card-container {
	background-color: #ccffff;
	margin: 1vw;
	width: calc(25% - 2vw);
	min-height: calc(100% - 2vw);

}